@use "../../styles/variables.scss" as vars;

/*CSS modules: Ensure that styles are local 
and do not affect the global space*/
.button {
  background-color: vars.$base-color;
  color: white;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 6px;
  font-size: 0.8rem;
  cursor: pointer;
  font-family: vars.$font-primary;
  transition: background-color 0.3s;

  &:hover {
    background-color: rgba(27, 102, 108, 0.6)
  }
}
