@use "./variables" as vars;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: vars.$font-primary;
  font-size: vars.$base-font-size;
  color: vars.$base-color;
  background-color: #fff;
}
