@use "../../styles/variables.scss" as vars;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation {
    color: vars.$base-color;
    font-size: vars.$base-font-size;
    font-family: vars.$font-primary;

    display: flex;
    justify-content: space-evenly; 
    background-color: #182537;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    .nav-link {
        color: white;
        text-decoration: none;
        padding: 10px;
        font-size: 1rem;
        transition: background-color 0.3s;

        &:hover {
            background-color: #555;
        }
    }
}
/* počet položek v košíku*/
.cart-link {
  position: relative;
  display: flex;
  align-items: center;

  svg {
    color: white;
  }

  .cart-count {
    position: absolute;
    top: -6px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.7rem;
    font-weight: bold;
  }
}



/* Pro tablety mezi 768px a 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
    .navigation {
        flex-direction: row; 
        justify-content: space-around; 
    }

    .nav-link {
        padding: 12px;
        font-size: 1.1rem;
    }
}

/* Pro mobilní zařízení (do 767px) */
@media (max-width: 767px) {
  .navigation {
    flex-direction: column; 
    align-items: center;
  }

  .nav-link {
    padding: 15px 0;
    font-size: 1.1rem;
    width: 100%;
    text-align: center;
  }

  /* Zachováme vodorovné uspořádání ikony a počtu kusů */
  .cart-link {
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    margin-top: 10px;

    svg {
      margin-right: 5px;
    }

    .cart-count {
      position: relative;
      top: auto;
      right: auto;
      margin-left: 5px;
      background-color: red;
      border-radius: 50%;
      padding: 2px 6px;
      font-size: 0.7rem;
      font-weight: bold;
    }
  }
}


