@use "../styles/_variables.scss" as vars;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home {
    color: vars.$base-color;
    font-family: vars.$font-primary;
}

.home-page {
    display: flex;
    flex-direction: column; 
    min-height: 100vh; 
    margin: 0;
    width: 100%; 
}

header {
    text-align: center;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%; 
    flex-shrink: 0; 
}

main {
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden; 
  flex-grow: 1;
}

.confirmation-banner {
  background-color: #d4edda;
  color: #155724;
  padding: 15px;
  border-radius: 8px;
  margin: 15px;
  border: 1px solid #c3e6cb;
  font-weight: bold;
  font-family: vars.$font-primary;
}


/* Pro tablety mezi 768px a 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
    .home-page {
        flex-direction: column; 
    }

    header {
        text-align: left;
        padding: 20px;
    }

    main {
        padding: 30px;
    }
}

/* Pro desktopová zařízení (1024px a více) */
@media (min-width: 1024px) {
    .home-page {
        flex-direction: column; 
    }

    header {
        text-align: left;
        padding: 20px;
    }

    main {
        padding: 30px;
    }
}
