

@use "../styles/_variables.scss" as vars;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.navigation {
    color: vars.$text-color;
    font-size: vars.$base-font-size;
    font-family: vars.$font-primary;

    display: flex;
    justify-content: space-evenly; /* Vyrovnání položek rovnoměrně */
    background-color: #333;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    .nav-link {
        color: white;
        text-decoration: none;
        padding: 10px;
        font-size: 1rem;
        transition: background-color 0.3s;

        &:hover {
            background-color: #555;
        }
    }
}

/* Pro tablety mezi 768px a 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
    .navigation {
        flex-direction: row; /* Horizontální navigace na tabletech */
        justify-content: space-around; /* Vyrovnání položek */
    }

    .nav-link {
        padding: 12px;
        font-size: 1.1rem;
    }
}

/* Pro mobilní zařízení (do 767px) */
@media (max-width: 767px) {
    .navigation {
        flex-direction: column; /* Navigace bude vertikální na mobilech */
        align-items: center;
    }

    .nav-link {
        padding: 15px 0;
        font-size: 1.1rem;
        width: 100%;
        text-align: center;
    }
}

